<br>
<br>
<h1>Corsairs#index</h1>
<p>This is a list of thp crazy soldiers !</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corsairs.each do |corsair| %>
      <tr>
      	<td><%= corsair.id %></td>
        <td><%= corsair.first_name %></td>
        <td><%= corsair.age %></td>
        <td><%= link_to 'Show', corsair %></td>
        <td><%= link_to 'Edit', edit_corsair_path(corsair) %></td>
        <td><%= link_to 'Delete', corsair, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= link_to"New Corsair",new_corsair_path %></div>

